[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "OmicKriging"]
	path = OmicKriging
	url = https://github.com/hakyimlab/omickriging
